.input {
  border: var(--component-border);
  border-radius: 0px;
  min-height: 52px;
  padding: var(--spacing);
}

.input_gutter-bottom {
  margin-bottom: var(--spacing2);
}

.input_full-width {
  width: 100%;
}