.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  padding: var(--spacing);
  border: var(--component-border);
  border-radius: var(--corner-radius);
  &:hover {
    box-shadow: var(--shadow-level-1);
    background-color: var(--button-hover);
  }
  &:active {
    box-shadow: var(--shadow-level-2);
  }
}

.button__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 0.7rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.button_primary {
  background: var(--button-primary-bg);
  color: var(--font-color-contrast);
}

.button_secondary {
  background: var(--paper-color);
  color: var(--font-color);
}

.button_full-width {
  width: 100%;
}

.button_gutter-bottom {
  margin-bottom: var(--spacing2);
}